<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Dr Dog: Home</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
		<header>
			<div id="drDog_logo"><img src="http://www.drdogmusic.com/_/images/dr_dog.png"  width="350"/></div>
		</header>
			<nav>
				<input type="checkbox" name="home" id="toggle" class="toggle"/>
					<label for="toggle"><div class="toggleText">Home</div></label>
					<div class="message">
					<ul>
						<a href="/index"><li>Home</li></a>
						<a href="/music"><li>Music</li></a>
						<a href="/tour"><li>Tour</li></a>
						<a href="/store"><li>Store</li></a>
						<a href="/about"><li>About</li></a>
					</ul>
					<!-- <div id="test">HEY HEY HEY</div> -->
				</div>
			</nav>
		<section id="one">

			<div id="news">
				<ul>
					<li class="wide">
						<img src="http://dcmusicdownload.com/wp-content/uploads/2014/12/dr-dog-the-warfield.jpg" width="680px" />
						<span>The Rolling Stone Interview</span>
					</li>
					<li>
						<img src="http://www.drdogmusic.com/wp-content/uploads/2015/01/934831_10153067551726171_2593145802411493486_n.jpg" width="340px" />
						<span>Tune In for Dr Dog</span>
					</li>
					<li class="tall">
						<img src="http://www.danielmunzing.com/blog/uploaded_images/dr_dog-716061.jpg" height="540px" />
						<span>New Date Added To<br />Tour: Ocotober 10th</span>
					</li>
					<li class="huge">
						<img src="http://www.drdogmusic.com/wp-content/uploads/2015/06/DrDog-copy-883x1024.jpg" width="680px" />
						<span>Live at Union Transfer<br />September 9, 10, 11, 12</span>
					</li>
					<li>
						<img src="http://www.drdogmusic.com/wp-content/uploads/2015/01/Dispatch-2-Nights-Ad-Mat-382x500.png" width="320px" />
						<span>Madison Square<br />With Dispatch</span>
					</li>
					<li >
						<img src="http://www.indiemusicfilter.com/images/drdog_everything.jpg" width="320px"/>
						<span>We Break It<br />Down For You</span>
					</li>
					<li>
						<img src="http://images.daytrotter.com/concerts/320/20030064-110478.jpg" width="320px" />
						<span>Daytrotter Sessions<br />Up On Youtube</span>
					</li>
				</ul>
			</div>

		</section>
		<footer>
		</footer>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>