<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Dr Dog: Home</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		
	</head>
	<body>
		<header>
			<h1>Dr. Dog!</h1>
		</header>
		<nav>
			<input type="checkbox" name="home" id="toggle" class="toggle"/>
				<label for="toggle">Pants!</label>
			<div class="message">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Tour</a></li>
					<li><a href="#">Store</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
		</nav>
		<main class="mainContent">
		</main>
		<footer>
			
		</footer>
	</body>
</html>