<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Dr Dog: Home</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
		<header>
		</header>
		<nav>
			<input type="checkbox" name="home" id="toggle" class="toggle"/>
				<label for="toggle"><div class="toggleText">Home</div></label>
			<div class="message">
				<ul>
					<a href="/index"><li>Home</li></a>
					<a href="/music"><li>Music</li></a>
					<a href="/tour"><li>Tour</li></a>
					<a href="/store"><li>Store</li></a>
					<a href="/about"><li>About</li></a>
				</ul>
				<div id="test">HEY HEY HEY</div>
			</div>
		</nav>
		<main class="mainContent">
		</main>
		<footer>		
		</footer>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>