<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Dr Dog: Store</title>
		<link rel="stylesheet" type="text/css" href="css/store.css">
	</head>
	<body>
		<header>
			<div id="drDog_logo"><img src="http://www.drdogmusic.com/_/images/dr_dog.png"  width="350"/></div>
		</header>
		<nav>
			
		</nav>
		<section id="one">
			<div id="store">	
				<div id="trends">
					<ul>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>

				<div id="posters">
					<ul>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</section>
		<footer>
			
		</footer>
	</body>
</html>