<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Dr Dog: Tour</title>
		<link rel="stylesheet" type="text/css" href="css/tour.css">
	</head>
	<body>
		<header>
			<div id="drDog_logo"><img src="http://www.drdogmusic.com/_/images/dr_dog.png"  width="350"/></div>
		</header>
		<nav>
			
		</nav>
		<section id="one">
			<div id="touring">
				<ul>
					<li>
						<div class="date"><em>DATE</em></div>
						<div class="venue"><em>VENUE</em></div>
						<div class="city"><em>CITY</em></div>
						<div class="buy"><em>BUY</em></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 5</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 9</div>
						<div class="venue">Arlene's</div>
						<div class="city">New York City</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 12</div>
						<div class="venue">Madison Square</div>
						<div class="city">New York City</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 14</div>
						<div class="venue">Rooftop Park</div>
						<div class="city">New York City</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 16</div>
						<div class="venue">Underground City</div>
						<div class="city">New York City</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 17</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
					<li>
						<div class="date">July 4</div>
						<div class="venue">Union Transfer</div>
						<div class="city">Philadelphia</div>
						<div class="buy"><button>TICKETS</button></div>
					</li>
				</ul>
			</div>
		</section>
		<footer>
			
		</footer>
	</body>
</html>