<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Dr Dog: Tour</title>
		<link rel="stylesheet" type="text/css" href="css/tour.css">
	</head>
	<body>
		<header>
			<div id="drDog_logo"><img src="http://www.drdogmusic.com/_/images/dr_dog.png"  width="350"/></div>
		</header>
		<nav>
			
		</nav>
		<section id="one">
			<div id="touring">
				<ul>
					<li>
						<span class="date">July 4</span>
						<span>Transfer Union</span>
						<span>Philadelphia</span>
						<button>Tickets</button>
					</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</section>
		<footer>
			
		</footer>
	</body>
</html>